<div class="column is-half">
  <%= form_with url: root_path, model: @flight, method: :get, html: { class: 'box' } do |form| %>
    <div class="field">
      <%= form.label :departure_airport, class: 'label' %>
      <div class="control">
        <div class="select">
          <%= form.collection_select :departure_airport, Airport.order(:city), :id, :city %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= form.label :arrival_airport, class: 'label' %>
      <div class="control">
        <div class="select">
          <%= form.collection_select(:arrival_airport, Airport.order(:city), :id, :city) %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= form.label :departure_time, class: 'label' %>
      <div class="control">
        <div class="select">
          <%= form.collection_select :departure_time, Flight.order(:id), :start_datetime, :start_datetime  %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= form.label :passengers_number, class: 'label' %>
      <div class="control">
        <div class="select">
          <%= form.select :passengers_number, [ 1, 2, 3, 4 ] %>
        </div>
      </div>
    </div>

    <%= form.submit 'Search it', class: 'button is-primary' %>
  <% end %>
</div>
