<% passengers_number = params[:flight][:passengers_number].to_s %>
<div class="column">
  <% future_flights.each do |future_flight| %>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title"><%= future_flight.start_datetime %></p>
    </header>
      <div class="card-image">
        <figure class="image is-2by1">
        <%= image_tag 'airplane.jpg' %>
        </figure>
      </div>
            <div class="card-content">
              <p class="content">From: <%= future_flight.departure_airport.city %></p>
              <p class="content">To: <%= future_flight.arrival_airport.city %></p>
              <p class="content">Ticket Price: 200 $</p>
              <p class="content">Arrival: <%= future_flight.flight_duration %></p>
            </div>

    <footer class="card-footer is-flex is-justify-content-center">
      <%= form_with method: :get do |f| %>
        <%= hidden_field_tag :total_passengers, passengers_number %>
        <%= hidden_field_tag :flight_id, future_flight.id %>
        <%= f.submit 'Buy it', class: 'button is-link is-inverted' %>
      <% end %>
    </footer>
  </div>
  <% end %>
</div>
